@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: monospace, system-ui, Avenir, Arial, sans-serif;

  background: linear-gradient(
    to right bottom,
    #f9f9f9,
    #dcdce4,
    #bfc0cf,
    #a1a5bb,
    #828ba8,
    #7e87a4,
    #7a82a0,
    #767e9c,
    #8b8ea5,
    #9f9faf,
    #b1b1b9,
    #c3c3c3
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
